.postContainer {
  width: 100%;
  max-width: 1240px;
  margin: 2rem auto;
  padding: 2rem;
  color: #fff;
  background-color: #1A1E23;
  border-radius: 1rem;
}

.postTitle {
  display: inline;
  font-size: 1.4rem;
  color: #98FAEC;
  margin-bottom: 1rem;
}

.blogTitle {
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
  color: #98FAEC;
}

.blogSubtitle {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.postImage {
  display: block;
  width: 100%;
  max-width: 1240px;
  height: auto;
  margin: 1rem 0;
  border-radius: 1rem;
}

.postContent {
  font-size: 1rem;
  line-height: 1.6;
  color: #dbdbdb;
  margin-bottom: 2rem;
}

.postContent p {
  margin-bottom: 1rem;
}

.postMeta {
  display: flex;
  margin: 1rem 0;
  gap: 1rem;
  font-size: 0.9rem;
  color: #98FAEC;
}

.metaAuthor, .metaDate, .metaReadTime {
  background-color: #292F36;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.shareContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  color: #FFF;
  font-weight: 800;
}

.shareIcon {
  font-size: 1.5rem;
  color: #98FAEC;
  cursor: pointer;
}

.shareIcon:hover {
  color: #12F7D6;
}

@media (max-width: 768px) {
  .postContainer {
    padding: 1rem;
    width: 90%;
  }

  .postTitle {
    display: inline;
    font-size: 1.1rem;
    align-items: inherit;
  }

  .postImage {
    margin: 1rem 0;
  }

  .postContent {
    font-size: 0.9rem;
  }

  .postMeta {
    flex-direction: row;
    font-size: 0.6rem;
    align-items: inherit;
    margin-bottom: 0.8rem;
    gap: 0.5rem;
  }

  .metaAuthor, .metaDate, .metaReadTime {
    padding: 0.5rem;
  }
}
