.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: #000; /* Fundo preto */
  color: #e0e0e0; /* Letras claras */
}

.error {
  color: #ff0000; /* Cor vermelha para mensagens de erro */
}

.button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  background-color: #005bb5;
}

.account {
  margin-top: 1rem;
}
