@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Inter', sans-serif;
  background-color: #000000; 
  color: #e0e0e0; 
}

/* Tipografia */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

a {
  color: #bb86fc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Layout */
.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background: #1e1e1e; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

.header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #333;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

body.dark {
  background-color: #000000;
  color: #e0e0e0;
}

body.dark a {
  color: #bb86fc;
}

body.dark .container {
  background: #1e1e1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

body.dark .footer {
  border-top: 1px solid #333;
}
