.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000; /* Fundo preto */
  color: #e0e0e0; /* Letras claras */
}

.title {
  font-size: 4rem;
  text-align: center;
}

.greeting {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
