.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1340px; 
  background-color: transparent;
  color: #fff;
  border-bottom: 1px solid #43454dc4;
}

.navDesktop {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.logo {
  display: flex;
  align-items: center;
  border: none;
}

.logo img {
  height: 3rem;
  width: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  display: block;
}

.logo a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
}

.nav {
  flex-grow: 1;
  text-align: center;
  display: none;
}

.navList {
  display: flex;
  list-style: none;
  gap: 2rem;
}


.navItem a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
}

.navItem a:hover,
.navItem a.selected {
  color: #12F7D6;
}

.socialIcons {
  display: flex;
  gap: 1rem;
}

.socialIcons a {
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.socialIcons a:hover {
  color: #12F7D6;
  text-decoration: none;
}

.socialIcons span {
  color: #fff;
  font-size: 0.8rem;
  margin-left: 0.3rem;
}

.socialIcons span:hover {
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
  margin-left: 0.3rem;
}

.mobileMenuButton {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .mobileMenuButton {
    display: block;
  }

  .socialIcons {
    display: none;
  }

  .mobileNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    z-index: 1000;
  }

  .mobileNavOpen {
    transform: translateY(0);
  }

  .mobileNavOpen .navList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .closeButton {
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
  }

  .navDesktop {
    display: none;
  }
}
