.developer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #98FAEC;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.sidebar {
  margin-top: -20rem;
  width: 3rem;
  background-color: #1A1E23;
  border: 1px solid #898a8dfd;
  padding: 1rem 1rem;
  border-radius: 2rem;
}

.sidebarNav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sidebarNav li {
  list-style: none;
}

.sidebarNav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.mainContent {
  display: flex;
  flex: 1;
  padding: 40px;
}

.profile {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileCard {
  padding: 1.5rem;
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  text-align: center;
  border: 0.2rem solid #FFF;
  box-shadow: 0px 0px 0px #12F7D6, -4px -3px 0px 1px #12F7D6;
}

.profileImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profileCard h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.profileCard h3 {
  margin: 0;
  font-size: 0.7rem;
  font-weight: 100;
}

.profileInfo {
  list-style: none;
  padding: 0;
  margin-top: 1.5rem 0;
}

.profileInfo li {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.profileSkills {
  display: flex;
  gap: 10px;
  margin: 1rem 0;
}

.profileSkills span {
  background-color: #12F7D6;
  padding: 3px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.7rem;
  color: #fff;
}

.skillProfileCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #1A1E23;
  border-radius: 8rem;
  height: 24rem;
}

.skillProfileInfo {
  gap: 1rem;
  align-items: center;
}

.skillProfileInfo li {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
  align-items: center;
  font-size: 0.8rem;
}

.downloadCv {
  padding: 10px 20px;
  margin-bottom: 1.5rem;
  background-color: #d1d1d1;
  color: #292F36;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.intro {
  flex: 2;
  padding: 10px 40px;
}

.intro h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 300;
}

.intro h1 span {
  color: #12F7D6;
}

.intro p {
  font-size: 1rem;
  line-height: 1.6;
}

.tags p {
  color: #98FAEC;
  font-size: 0.8rem;
}

.contactLink {
  display: inline-block;
  margin-top: 20px;
  font-size: 1.2rem;
  color: #12F7D6;
  text-decoration: none;
}

.contactLink i {
  margin-left: 10px;
}

@media (max-width: 768px) {
  
  .developer {
    padding: 1rem;
    margin-bottom: -0.2rem;
    font-size: 2.5rem;
  }

  .container {
    flex-direction: column;
    height: 100%;
    padding-bottom: 4rem;
  }

  .sidebar {
    margin-top: 0;
    margin-bottom: 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
    border: none;
    background-color: #1A1E23;
    border: 1px solid #898a8dfd;
  }

  .contactLink {
    margin-bottom: 1rem;
  }

  .sidebarNav {
    flex-direction: row;
    gap: 2.5rem;
    height: 1rem;
  }

  .mainContent {
    flex-direction: column;
    padding: 20px;
  }

  .profileCard {
    padding: 1.5rem;
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    text-align: center;
    border: 0.2rem solid #FFF;
    box-shadow: 0px 0px 0px #12F7D6, -4px -3px 0px 1px #12F7D6;
    margin-bottom: 2rem;
  }

  .intro {
    padding: 0 20px;
  }

  .intro h1 {
    font-size: 1.1rem;
  }

  .intro p {
    font-size: 0.8rem;
    font-weight: normal;
  }

  .skillProfileCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    background-color: #1A1E23;
    border-radius: 5rem;
    width: 15rem;
    height: 20rem;
    margin-top: 1rem;
  }

  .skillProfileInfo {
    flex-direction: column;
    gap: 1rem;
  }

  .skillProfileInfo li {
    font-size: 1rem;
    gap: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
  }
}